*.SLDPRT filter=lfs diff=lfs merge=lfs -text lockable
*.SLDASM filter=lfs diff=lfs merge=lfs -text lockable
*.SLDDRW filter=lfs diff=lfs merge=lfs -text lockable
*.sldprt filter=lfs diff=lfs merge=lfs -text lockable
*.sldasm filter=lfs diff=lfs merge=lfs -text lockable
*.slddrw filter=lfs diff=lfs merge=lfs -text lockable
*.step filter=lfs diff=lfs merge=lfs -text
*.stp filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.dxf filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
